/* Fondo general de la página */
.login-page {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000000, #045bb3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilo del formulario */
  .login-page form {
    background-color: #004c99;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Estilo de los inputs y selects */
  .login-page input, 
  .login-page select {
    width: 80%;
    padding: 10px;
    border-radius: 45px;
    border: none;
    font-size: 14px;
    box-shadow: inset 0px 2px 4px rgba(255, 0, 0, 0.2);
  }
  
  .login-page input:focus, 
  .login-page select:focus {
    outline: none;
    border: 3px solid #1e90ff;
  }
  
  /* Placeholder estilizado */
  .login-page input::placeholder {
    color: #707a86;
    font-style: italic;
    font-size: 14px;
  }
  
  /* Contenedor de los botones */
  .button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  /* Botones */
  .login-page button {
    background-color: #1e90ff;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    flex: 1;
  }
  
  .login-page button:hover {
    background-color: #0b65bf;
  }
  
  /* Títulos dentro del formulario */
  .login-page h1 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
  }
  
  .login-page h2 {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    color: #ffffffc4;
  }
  
  /* Estilo general para texto */
  .login-page label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #dcdcdc;
  }
  
  /* Responsive Design */
  @media (max-width: 400px) {
    .login-page form {
      width: 90%;
      padding: 20px;
    }
  }
  