.floating-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .floating-button {
    background-color: #004c99;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .floating-options {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .floating-option {
    background-color: #004c99;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  